<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<title>{% block title %}{% endblock %}</title>
		
	    <link rel="alternate" type="application/rss+xml" href="/feeds/recent/" />
	
		<style type="text/css" media="screen">
			@import url(/assets/css/base.css);
			{% block css %}{% endblock %}
		</style>
		
		
		{% block head %}
		{% endblock %}
	
		
	</head>
	<body>
		<div id="head">
			<h1>Council</h1>
		</div>
			
		<div id="page">		
			<div id="container">
			
				{% block content %}{% endblock %}			
			
			
			</div>
			<div style="clear:both"></div>
		</div>		
	</body>
</html>