{% extends "base.html" %}
{% load hash %}
{% load humanize %}

{% block title %}Detroit Council Docs{% endblock %}

{% block content %}
<h1>
	Meeting: 
	{{ item.date.year }}
	{{ item.date.month }}
	{{ item.date.day }}
</h1>

<div id="body">
	<h3 id="item-type"><strong>{{item.type}}</strong> from page <a href="{% url page item.page_number %}">{{item.page_number}}</a></h3>
	<div id="details">
	{% if item.contracts %}
		<h3 id="related-contracts">Related contract{{item.contracts|pluralize}}: 
			{% for contract in item.contracts %}
				<a href="{% url contract contract %}">{{contract}}</a>
			{% endfor %}
		</h3>
	{% endif %}
	
	<div id="votes">	
		{% if item.yeas %}
		<div id="yeas">
			<strong>Yeas:</strong> 
			{% for vote in item.yeas %}
				<a href="{% url member vote|slugify %}">{{vote}}</a>
			{% endfor %}
		</div>
		{% endif %}

		{% if item.nays %}
		<div id="nays">
			<strong>Nays:</strong>
			{% for vote in item.nays %}
				<a href="{% url member vote|slugify %}">{{vote}}</a>
			{% endfor %}
		</div>
		{% endif %}
	</div>
	</div>
	
	
	<div id="sidebar">
	
	<div id="companies">
		<h3>Companies</h3>
		{% for entity in item.entities %}
			{% if entity|hash:'_type' == 'Company' %}
				<p>{{entity.name}} </p>
			{% endif %}
		{% endfor %}
	</div>
	
	<div id="people">
		<h3>People</h3>
		{% for entity in item.entities %}
			{% if entity|hash:'_type' == 'Person' %}
				<p>{{entity.name}} </p>
			{% endg %}
		{% endfor %}
	</div>
	</div>
	
	
	
	

	<div id="original-text">
	{% for line in item.lines %}
		{{line}}<br />
	{% endfor %}
	</div>
</div>



<div id="mnav">
	<ul>
	{% for item in blocks %}
		{% include "item_list.html" %}
	{% endfor %}
	</ul>
</ul>
{% endblock %}