{% extends "base.html" %}
{% load hash %}
{% load humanize %}

{% block title %}Detroit Council Docs{% endblock %}

{% block content %}
<h2>{{date}}</h2>

<p>$<strong>{{total_spent|intcomma}}</strong> in contracts discussed</p>

<table>	
{% for block in blocks %}
	<tr class="sep">
		<td><a href="{{block|hash:"_id"}}">{{block.lines.0}}</a></td>
		<td><span class="type">{{block.type}}</span></td>
		<td>
			{% if block.yeas or block.nays %}
				<span class="score">{{block.yeas|length}} - {{block.nays|length}}</span>
			{% endif %}
		</td>
	</tr>
	
	{% if block.type == "contract" %}
	<tr>		
			<td colspan="3">
				{% if block.cost %}
					<span class="cost">${{block.cost|intcomma}}</span>
				{% endif %}
				{% if block.address %}
					With {{block.address}}
				{% endif %}
				</td>
	</tr>
	{% endif %}
	
{% endfor %}
</table>
{% endblock %}